* {
    margin: 0;
    top: 0;
}

.flexContainerA {
    display: flex;
    padding: 50px;
    background-color: #1F2937;
    
  
}

.navBar {
    padding-right: 30px;
    list-style: none;
    display: flex;
    gap: 10px;
    
}

.navBar ul li {
    
    list-style: none;
    
}

.navBar ul li a {
    color: #F9FAF8;
    text-decoration: none;
}

.logo {
    margin-left: 40px;
    flex: 1;
    color: #F9FAF8;
}

.placeHolder {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    padding: 150px;

}

.textHolder {

    flex: 1;
    color: white;
    line-height: 1.5;
    font-size: 18px;

}

.textHolder h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}

.textHolder p {
    flex: 1;
    text-align: left;
    
}

#btn {
    margin-top: 20px;
    flex: 1;
    border-radius: 10px;
    text-align: center;
    height: 30px;
    width: 100px;
    background-color: #3882f6;
    
}

#signUp {
    text-decoration: none;
    color: white;
    font-weight: 600;
  
}

#signUp :hover {
    color: black;
}

#btn:hover {
    background-color: #49e0eb;
}
    

.image {
    
    background-color: #7a7a7a;
    height: 250px;
    width: 400px;
    margin: 15px;
    color: white;
}

.image p {
    text-align: center;
    padding-top:  100px;
}


.infoContainer {
    justify-content: center;
    gap: 20px;
    display: flex;
    background-color: white;
    
}

.infoH1 {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.infoContainer .flexbox {
    border: solid #3882f6 5px;
    height: 200px;
    width: 200px;
    border-radius: 30px;
}

#infoTextContainer {
    display: flex;
    justify-content: center;
    height: 300;
}

#infoTextContainer p {

    flex: 1;
    font-size: 18px;
    padding: 18px;
    padding-right: 5px;
    width: 200px;
}

.testimonial {
    
    padding: 100px;
    display: flexbox;
    justify-content: center;
    background-color: #E5E7EB;
}

.testimonial p {
    font-size: 36px;
    font-style: italic;
}

.testimonial h1 {
    display: flex;
    justify-content: end;
    padding-right: 70px;
}

#actionContainer {
    display: flex;
    justify-content: center;
    height: 150px;
    padding: px;
    color: white;
    background-color: #3882f6;
    margin: 100px;
    border-radius: 10px;
    padding-top: 40px;
    
}

#actionContainer p {
    width: 700px;
}

#btnContainer {
    display: flex;
    justify-content: center;
    padding: 30px;
    margin-left: 30px;

}

#signUpBtn {
    font-weight: 600;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    height: 20px;
    width: 150x;
    border: solid #F9FAF8 3px;
   
}

#btnContainer :hover {
    background: #49e0eb;
}

.footContainer {
    height: 100px;
    background-color: #1F2937;

}

#footer {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

#footer h3 {

    color: #E5E7EB;
}